﻿<style type="text/css">
    .btn-xl {
        padding: 5% 0;
        /* font-size: 20px;*/
        border-radius: 5px;
    }
    .textEDS {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 30px;
    }

    .TempEDS {
        font-size: 26px;
        color: white;
    }
</style>


<div class="container-fluid" style="margin:10px">
    <div class="row">
        @{
            @model EtatSituation.Models.IndexViewModel
            Html.RenderPartial("_EnteteSansMessage", Model);
        }

    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><label style="font-size:x-large">État de situation</label></div>
            <div class="panel-body" style="background-color:#222;height:350px">
                <div class="row">
                    <div class="col-md-3" style="margin-bottom:10px">
                        <a href="~/EdsActionPreventive/Index" class="btn btn-danger btn-xl btn-block active" role="button" aria-pressed="true"><i style="font-size:x-large" class="fas fa-cog"></i><label style="margin-left:20px;font-size:x-large">Action de protection</label></a>
                        @Html.ActionLink("TEST", "Index", "EdsActionPreventive", null, null)
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <a href="~/EdsGlobal/Index" class="btn btn-primary btn-xl btn-block active" role="button" aria-pressed="true"><i style="font-size:x-large" class="fas fa-chart-bar"></i><label style="margin-left:20px;font-size:x-large">Global</label></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/Eds911/Index" class="btn btn-primary btn-xl btn-block active" role="button" aria-pressed="true"><i style="font-size:x-large" class="fas fa-chart-bar"></i><label style="margin-left:20px;font-size:x-large">Appels au 9-1-1</label></a>
                    </div>
                    <div class="col-md-3">
                        <a href="~/EdsInter/Index" class="btn btn-primary btn-xl btn-block active" role="button" aria-pressed="true"><i style="font-size:x-large" class="fas fa-chart-bar"></i><label style="margin-left:20px;font-size:x-large">Interétablissements</label></a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="btn btn-primary btn-xl btn-block disabled" role="button" aria-pressed="true"><i style="font-size:x-large" class="fas fa-chart-bar"></i><label style="margin-left:20px;font-size:x-large;color:transparent">Autre graphique</label></a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <p>user: @Model.User</p>
    <p>user: @Model.Token</p>
    <p>serveur: @Server.MachineName</p>
</div>





    <script type="text/javascript">

    </script>
