﻿    

    <div class="row">
        <p class="textEDS" id="txtGraphVolumeAppel"  data-toggle="tooltip" title=""></p>
    </div>
    <div class="row">
        <div id="container6" style="min-width: 310px; margin: 0 auto"></div>
    </div>

    <script type="text/javascript">
        function GraphVolumeAppel(data) {

            var processed_categories = new Array();
            var processed_moyenne = new Array();
            var processed_heure = new Array();
            var titre = "Aucun titre";

            for (i = 0; i < data.length; i++) {
                if (data[i].Details == "Titre") {
                    titre = data[i].Texte1;
                    tooltiptxt = data[i].Texte5;
                }
                if (data[i].Details == "Details") {
                    processed_categories.push(data[i].Texte1);
                    processed_heure.push(data[i].Val1);
                    processed_moyenne.push(data[i].Val3);
                }
            }

            $('#txtGraphVolumeAppel').text(titre);
            $('#txtGraphVolumeAppel').attr('data-original-title', tooltiptxt);

            $('#container6').highcharts({
                chart: {
                    //type: 'spline'
                    zoomType: 'xy'
                },
                title: {
                    text: '',
                    x: -20 //center
                },
                subtitle: {
                    x: -20
                },
                xAxis: {
                    categories: processed_categories,
                    plotBands: [{ // visualize heure en cours
                        from: 22.5,
                        to: 24,
                        color: 'rgba(68, 170, 213, .2)'
                    }]
                },
                yAxis: {
                    title: {
                        text: 'Quantité'
                    }
                },
                series: [
                    {
                        name: 'Dernière heure',
                        type: 'column',
                        //color: '#A9E2F3',
                        data: processed_heure,
                        enableMouseTracking: true,
                        dataLabels: { enabled: true },
                    },
                    {
                        name: 'Moyenne des 2 heures',
                        type: 'spline',
                        color: '#F7FE2E',
                        data: processed_moyenne,
                        enableMouseTracking: true,
                        dataLabels: { enabled: true }
                    },
                ]
            });

        }
          $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip();   
    });

    </script>    
