﻿
    <div class="row">
        <p class="textEDS" id="txtEnteteTitreGraphSDDF"  data-toggle="tooltip" title=""></p>
    </div>
    <div class="row">
        <p class="textEDS" id="txtEnteteInfoGraphSDDF"></p>
    </div>
    <div class="row">
        <div id="container5" style="min-width: 310px; margin: 0 auto"></div>
    </div>

    <script type="text/javascript">
        function GraphSDDF(data) {

            var nbVehOccuper = 0;
            var nbVehEnDevoir = 0;

            var couleur = "";
            var enteteTitre = "";
            var enteteInfo = "";

            for (i = 0; i < data.length; i++) {
                if (data[i].Details == "Titre") {
                    enteteTitre = data[i].Texte1;
                    tooltiptxt = data[i].Texte5;
                }
                if (data[i].Details == "Details") {
                    nbVehEnDevoir = data[i].Val2;
                    nbVehOccuper = data[i].Val3;
                    enteteInfo = data[i].Texte1;
                    couleur = data[i].Texte4;
                }
            }

            $('#txtEnteteTitreGraphSDDF').text(enteteTitre);
            $('#txtEnteteInfoGraphSDDF').text(enteteInfo);
            $('#txtEnteteTitreGraphSDDF').attr('data-original-title', tooltiptxt)

            $('#container5').highcharts({

                chart: {
                    type: 'solidgauge'
                },

                title: null,

                pane: {
                    center: ['50%', '65%'],
                    size: '100%',
                    startAngle: -90,
                    endAngle: 90,
                    background: {
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
                        innerRadius: '70%',
                        outerRadius: '100%',
                        shape: 'arc',
                        borderColor: 'transparent'
                    }
                },

                tooltip: {
                    enabled: false
                },

                // the value axis
                yAxis: {
                    stops: [
                        [nbVehOccuper, couleur]
                    ],
                    lineWidth: 0,
                    minorTickInterval: null,
                    tickPixelInterval: 400,
                    tickWidth: 0,
                    title: {
                        y: -130,
                        // text: qtd + '<br/>' + ' véhicule(s) disponible(s)',
                        style: {
                            fontSize: "26px",
                            color: "#FFFFFF",
                        }
                    },
                    labels: {
                        y: 16
                    },
                    min: 0,
                    max: nbVehEnDevoir,
                    tickPositions: [0, nbVehEnDevoir]
                },

                plotOptions: {
                    solidgauge: {
                        innerRadius: '70%',
                        dataLabels: {
                            y: 5,
                            borderWidth: 0,
                            useHTML: true
                        }
                    }
                },

                credits: {
                    enabled: false
                }
                ,

                series: [{
                    data: [nbVehOccuper]
                    ,
                    dataLabels: {
                        format: ' '
                        //format: '<div style="text-align:center"><span style="font-size:16px;color:' +
                        //    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black') + '">{y}</span><br/>' +
                        //       '<span style="font-size:16px;">non disponible(s)</span></div>',
                        //y:-50
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });

        }
          $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
