﻿<div class="row ">
    <p class="textEDS" id="txtGraphAppelsAttenteAff" data-toggle="tooltip" title=""></p>
</div>
    <div class="row">
        <div id="container2" style="min-width: 310px; margin: 0 auto"></div>
    </div>

    <script type="text/javascript">
    function GraphAppelsAttenteAff(data) {

            var processed_info = new Array();

            for (i = 0; i < data.length; i++) {
                if (data[i].Details == "Titre") {
                    entete = data[i].Texte1;
                    tooltiptxt = data[i].Texte5;
                }
             
                if (data[i].Details == "Details") {

                    processed_info.push({
                        name: data[i].Texte1,
                        y: data[i].Val1,
                        //delai: "0",
                        color: data[i].Texte3
                    });
                }
        }
        $('#txtGraphAppelsAttenteAff').text(entete);
        $('#txtGraphAppelsAttenteAff').attr('data-original-title', tooltiptxt)
       


        if (processed_info.length < 0) {
            processed_info.push({
                name: "",
                y: 0,
                //delai: "0",
                color: ""
            });
        }


            $('#container2').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || color //'black'
                            }
                        },
                        startAngle: -90,
                        endAngle: 90
                    }
                },
                series: [{
                    name: 'Quantité ',
                    colorByPoint: true,
                    data: processed_info
                }]
            });


    }
        
    $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip();   
    });
   
    </script>
