﻿
    <div class="row">
        <p class="textEDS" id="txtGraphRatio" data-toggle="tooltip" title=""></p>
    </div>
    <div class="row">
        <div id="container3" style="min-width: 310px; margin: 0 auto"></div>
    </div>

    <script type="text/javascript">
        function GraphRatio(data) {

            var qtd = data[0].Val1;
            var entete = data[0].Texte1;
            var tooltiptxt = data[0].Texte5;

            $('#txtGraphRatio').text(entete);
            $('#txtGraphRatio').attr('data-original-title', tooltiptxt)

            $('#container3').highcharts({

                chart: {
                    type: 'gauge',
                    plotBackgroundColor: null,
                    plotBackgroundImage: null,
                    plotBorderWidth: 0,
                    plotShadow: false
                },

                title: {
                    text: ''
                },

                pane: {
                    startAngle: -150,
                    endAngle: 150,
                    background: [{
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
                                [0, '#FFF'],
                                [1, '#333']
                            ],
                        },
                        borderWidth: 0,
                        outerRadius: '109%'
                    }, {
                        backgroundColor: {
                            linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                            stops: [
                                [0, '#333'],
                                [1, '#FFF']
                            ]
                        },
                        borderWidth: 1,
                        outerRadius: '107%'
                    }, {
                        // default background
                        backgroundColor: '#222',
                        borderWidth: 0
                    },
                    {
                        backgroundColor: '#DDD',
                        borderWidth: 0,
                        outerRadius: '105%',
                        innerRadius: '103%'
                    }]
                },
                plotOptions: {
                    gauge: {
                        dataLabels: {
                            enabled: false
                        },
                        dial: {
                            radius: '90%',
                            backgroundColor: '#FFF',
                            topWidth: 1,
                            baseWidth: 5,
                            rearLength: '-4%'
                        },
                        pivot: {
                            radius: 8,
                            borderWidth: 7,
                            borderColor: '#FFF',
                            backgroundColor: 'transparent'
                        }
                    }
                },
                // the value axis
                yAxis: {
                    min: 0,
                    max: 200,

                    minorTickInterval: 'auto',
                    minorTickWidth: 0,
                    minorTickLength: 20,
                    minorTickPosition: 'inside',
                    minorTickColor: '#222',

                    //tickPixelInterval: 50,
                    tickWidth: 0,
                    tickPosition: 'inside',
                    tickLength: 10,
                    tickColor: '#222',
                    labels: {
                        step: 1,
                        rotation: 'auto',
                        style: {
                            color: '#FFF',
                            font: 'bold 18px "Trebuchet MS", Verdana, sans-serif'
                        }
                    },
                    title: {
                        text: '',
                        style: {
                            color: '#FFF',
                            font: '14px "Trebuchet MS", Verdana, sans-serif'
                        }
                    },
                    plotBands: [{
                        from: 0,
                        to: 25,
                        color: '#55BF3B' // green
                    }, {
                        from: 25,
                        to: 50,
                        color: '#DDDF0D' // yellow
                    }, {
                        from: 50,
                        to: 200,
                        color: '#DF5353' // red
                    }]
                },

                series: [{
                    name: 'Quantité',
                    data: [Math.round(qtd)],
                    dataLabels: {
                        color: '#D3D3D3',
                        style: {
                            textShadow: false
                        }
                    },
                    tooltip: {
                        valueSuffix: ''
                    }
                }]

            });

        }
    $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
