﻿
    <div class="row">
        <p class="textEDS" id="txtGraphVehDevoir"  data-toggle="tooltip" title=""></p>
    </div>
    <div class="row">
        <div id="container1" style="min-width: 310px; margin: 0 auto"></div>
    </div>

    <script type="text/javascript">
        function GraphVehDevoir(data) {


            var processed_categories = new Array();
            var processed_ambulances = new Array();
            var entete = "";
            for (i = 0; i < data.length; i++) {
                if (data[i].Details == "Titre") {
                    entete = data[i].Texte1;
                    tooltiptxt = data[i].Texte5;
                }
                if (data[i].Details == "Details") {
                    processed_ambulances.push(data[i].Val1);
                    processed_categories.push(data[i].Texte1);
                }
            }

            $('#txtGraphVehDevoir').text(entete);
            $('#txtGraphVehDevoir').attr('data-original-title', tooltiptxt)
            $('#container1').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: 'RAO'
                },
                xAxis: {
                    categories: processed_categories,
                    plotBands: [{ // visualize heure en cours
                        from: 22.5,
                        to: 24,
                        color: 'rgba(68, 170, 213, .2)'

                    }]
                },
                yAxis: {
                    title: {
                        text: 'Quantité'
                    }
                },
                //plotOptions: {
                //    column: {
                //        pointPadding: 0.2,
                //        borderWidth: 0
                //    }
                //},
                series: [{
                    name: 'Ambulances',
                    data: processed_ambulances,
                    dataLabels: { enabled: true }
                }]
            });

        }
          $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
