﻿

    <div class="row">
        <p class="textEDS" id="txtEnteteGraphCarteAppel" data-toggle="tooltip" title=""></p>
    </div>
    <div class="row">
        <div id="container" style="min-width: 310px; margin: 0 auto"></div>
    </div>

    <script type="text/javascript">
        function GraphCarteAppel(data) {


            var processed_appels = new Array();
            var processed_categories = new Array();
            var entete = "";
            for (i = 0; i < data.length; i++) {
                if (data[i].Details == "Titre") {
                    entete = data[i].Texte1;
                    tooltiptxt = data[i].Texte5;
                }
                if (data[i].Details == "Details") {
                    processed_appels.push(data[i].Val1);
                    processed_categories.push(data[i].Texte1);
                }
            }

            $('#txtEnteteGraphCarteAppel').text(entete);
            $('#txtEnteteGraphCarteAppel').attr('data-original-title', tooltiptxt)
            $('#container').highcharts({
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '',
                    x: -20 //center
                },
                subtitle: {
                    text: 'RAO',
                    x: -20
                },
                xAxis: {
                    categories: processed_categories,
                    plotBands: [{ // visualize heure en cours
                        from: 22.5,
                        to: 24,
                        color: 'rgba(68, 170, 213, .2)'

                    }]
                },
                yAxis: {
                    title: {
                        text: 'Quantité',
                        tickPixelInterval: 20
                    }
                },
                series: [{
                    name: 'Appels',
                    data: processed_appels,
                    enableMouseTracking: true,
                    dataLabels: { enabled: true },
                    step: 'righ'
                }
                ]
            });
        }
    $(document).ready(function () {
         $('[data-toggle="tooltip"]').tooltip();   
    });
    </script>
