﻿<style type="text/css">

    .textEDS {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 30px;
    }

    .TempEDS {
        font-size: 26px;
        color: white;
    }

    .btn-xl {
        padding: 5% 0;
        /* font-size: 20px;*/
        border-radius: 5px;
    }

    .btn-green {
        background-color: #4CAF50;
        color: white;
    }

</style>
<!DOCTYPE html>
<div class="container-fluid" style="margin:10px">
    <div class="row">
        @{
            @model EtatSituation.Models.IndexViewModel
            Html.RenderPartial("_EnteteEDS", Model);
        }
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading"><label style="font-size:x-large">Options</label></div>
            <div class="panel-body" style="background-color:#222;height:250px">
                <div class="row">
                    <div class="col-md-4" style="margin-bottom:10px">
                        <button id="btnAction" aria-pressed="true" style="font-weight:bold;visibility:visible" ;
                                class="btn  btn-xl btn-block active btn-green  " role="button">
                            <i style="font-size:x-large" class="fas fa-cog"></i>
                            <label style="margin-left:20px;font-size:x-large">
                                Activer action protection
                            </label>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button id="btnModifierDelais" aria-pressed="true" style="font-weight:bold;visibility:visible" ;
                                class="btn btn-primary btn-xl btn-block active" role="button">
                            <i style="font-size:x-large" class="fas fa-cog"></i>
                            <label style="margin-left:20px;font-size:x-large">
                                Modifier le(s) délai(s)
                            </label>
                        </button>
                    </div>
                    <div class="col-md-4">
                        <button id="btnFinaliserAction" aria-pressed="true" style="font-weight:bold;visibility:visible" ;
                                class="btn btn-primary btn-xl btn-block active" role="button">
                            <i style="font-size:x-large" class="fas fa-cog"></i>
                            <label style="margin-left:20px;font-size:x-large">
                                Finaliser action de protection
                            </label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>user: @Model.User</p>
    <p>serveur: @Server.MachineName</p>
    <!-- Modal -->
    <div id="popupActionPrev" class="modal fade" role="dialog" onfocus="loadDates()">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;font-weight:bold">Créer une action de protection</h4>
                    <!--<input type="text" class="form-control" id="txtActive" style="visibility:collapse;display:none">-->
                </div>
                <div class="modal-body">
                    <table>
                        @if (Model.Actions != null)
                        {
                            foreach (var item in Model.Actions)
                            {
                                <tr>
                                    <td style="min-width:200px"><label>@item.Description</label></td>
                                    <td style="padding-left:0.5em">
                                        <div class="onoffswitch">
                                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id=@item.ID>
                                            <label class="onoffswitch-label" for=@item.ID>
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                            }
                        }

                        <tr>
                            <td valign="bottom" style="padding-top:0.5em">
                                <label style="text-align:end"> Heure de début</label>
                            </td>
                            <td style="padding-top:0.5em;padding-left:0.5em">
                                <div class='input-group date' id='dtpHeureDebut'>
                                    <input type='text' class="form-control" style="width:100px" />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <table>
                    </table>
                    <table>
                        <tr>
                            <td>
                                <br />
                                <label> Délais </label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td valign="bottom">
                                            <label>Prio:</label>
                                        </td>
                                        <td style="padding-left:0.5em;">

                                            <select id="priorite" class="form-control" style="min-width:100px">
                                                <option value="-1" selected></option>
                                                @foreach (var item in Model.Priorite)
                                                {

                                                    <option value="@item.Priorite_cd">@item.Priorite_tx</option>
                                                }
                                                <!--   <option value="-1" selected></option>
                                                <option value="0">P-0</option>
                                                <option value="1">P-1</option>
                                                <option value="2">P-2</option>
                                                <option value="3">P-3</option>
                                                <option value="4">P-4</option>
                                                <option value="5">P-5</option>
                                                <option value="6">P-6</option>
                                                <option value="7">P-7</option>
                                                <option value="8">P-8</option>
                                                <option value="9">P-9</option>
                                                <option value="10">P-10</option>
                                                <option value="11">P-11</option>
                                                <option value="12">P-12</option>
                                                <option value="13">P-13</option>
                                                <option value="14">P-14</option>
                                                <option value="15">P-15</option>-->
                                            </select>
                                            @*<input type="text" id="txtRelais" class="form-control" />*@
                                        </td>
                                        <td valign="bottom" style="padding-left:0.5em">
                                            <label>Durée:</label>
                                        </td>
                                        <td style="padding-left:0.5em;">
                                            <input type="text" id="txtHeure" value="0" class="form-control" style="width:50px" />
                                        </td>
                                        <td valign="bottom">
                                            <label>&nbsp;h&nbsp;</label>
                                        </td>
                                        <td>
                                            <input type="text" id="txtMinute" value="00" class="form-control" style="width:50px" />
                                        </td>
                                        <td valign="bottom">
                                            <label>&nbsp;min&nbsp;</label>
                                        </td>
                                        <td>
                                            <button id="addRelais" onclick="ajoutItems()" class="btn">Ajouter</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="padding-top:0.5em">
                                            <label>Liste des délais: </label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">
                                            <select id="ajoutDelais" name="ajoutDelais" size="5" style="min-width:200px" class="form-control"></select>
                                        </td>
                                        <td colspan="2" style="padding-left:0.5em">
                                            <button id="deleteRelais" onclick="deleteItems()" class="btn">Supprimer</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="8" style="color:red;font-size:12px">Pour sauvegarder une action de protection, il faut ajouter au moins 1 délai dans la liste.</td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="btnSave" data-dismiss="modal" style="visibility:visible" onclick="saveActionPreventive()">Sauvegarder</button>
                </div>
            </div>

        </div>
    </div>
    <div id="PopupMessageActionPrev" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align:center;font-weight:bold;">Attention</h4>
                </div>
                <div class="modal-body">
                    <label id="lblMessage"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="openPopupActionPreventive()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="PopupFinActionPrev" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal">&times;</button>*@
                    <h4 class="modal-title" style="text-align:center;font-weight:bold;">Attention</h4>
                </div>
                <div class="modal-body">
                    <label id="lblMessageOuiNon">Vous voulez finaliser l'action de protection en cours?</label>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-default" id="btnMessageOui" data-dismiss="modal" onclick="MajActionPreventive()">Oui</button>
                    <button type="button" class="btn btn-default" id="btnMessageNon" data-dismiss="modal" onclick="this.close">Non</button>
                </div>
            </div>
        </div>
    </div>
    <div id="PopupMessageFinActionPrev" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align:center;font-weight:bold;">Attention</h4>
                </div>
                <div class="modal-body">
                    <label id="lblMessageFinActionPrev"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="openPopupMessageFinActionPrev()">OK</button>
                </div>
            </div>
        </div>
    </div>

    <div id="PopupEffectif" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;font-weight:bold;font-size:26px">Effectifs paramédics par plage horaire</h4>
                </div>
                <div class="modal-body" style="text-align:center">
                    <label id="lblEffectif1" style="font-size:26px"></label>
                    <br />
                    <label id="lblEffectif2" style="font-size:26px"></label>
                    <br />
                    <label id="lblEffectif3" style="font-size:26px"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="this.close">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- delais-->
    <div id="PopupModifierDelais" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center">Modifier le(s) délai(s) de l'action de protection en cours</h4>
                </div>
                <div class="modal-body" style="text-align:center">
                    <table style="width:100%">
                        <tr>
                            <td valign="bottom" align="left">
                                <label>Prio:</label>
                            </td>
                            <td style="padding-left:0.5em">
                                <select id="cmbPrioriteModif" class="form-control" style="min-width:100px;padding-left:0.5em;">

                                    <option value="-1" selected></option>
                                    @foreach (var item in Model.Priorite)
                                    {

                                        <option value="@item.Priorite_cd">@item.Priorite_tx</option>
                                    }
                                    <!--
                                    <option value="0">P-0</option>
                                    <option value="1">P-1</option>
                                    <option value="2">P-2</option>
                                    <option value="3">P-3</option>
                                    <option value="4">P-4</option>
                                    <option value="5">P-5</option>
                                    <option value="6">P-6</option>
                                    <option value="7">P-7</option>
                                    <option value="8">P-8</option>
                                    <option value="9">P-9</option>
                                    <option value="10">P-10</option>
                                    <option value="11">P-11</option>
                                    <option value="12">P-12</option>
                                    <option value="13">P-13</option>
                                    <option value="14">P-14</option>
                                    <option value="15">P-15</option> -->
                                </select>
                            </td>
                            <td valign="bottom" style="padding-right:0.5em;" align="right">
                                <label>Durée:</label>
                            </td>
                            <td style="width:50px">
                                <input type="text" id="txtHeureModif" value="0" class="form-control" style="width:50px" />
                            </td>
                            <td valign="bottom">
                                <label>&nbsp;h&nbsp;</label>
                            </td>
                            <td style="width:50px">
                                <input type="text" id="txtMinuteModif" value="00" class="form-control" style="width:50px" />
                            </td>
                            <td valign="bottom" align="left">
                                <label>&nbsp;min&nbsp;</label>
                            </td>
                            <td align="left">
                                <button id="addDelaisModif" onclick="ajoutItemsModif()" class="btn">Ajouter</button>
                            </td>
                        </tr>
                        <tr>
                            <td align="left" colspan="3" style="padding-top:1em">
                                <label>Nouvelle liste de(s) délai(s):</label>
                            </td>
                            <td colspan="2"></td>
                            <td align="left" colspan="3" style="padding-top:1em">
                                <label>Liste de(s) délai(s) actuel(s):</label>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <select id="listeAjoutDelaisModif" name="listeajoutDelaisModif" size="5" style="min-width:200px" class="form-control"></select>
                            </td>
                            <td colspan="1"></td>
                            <td colspan="3">
                                <select disabled id="listeDelaisModif" name="listeDelaisModif" size="5" style="min-width:200px" class="form-control"></select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="left">
                                <button id="deleteRelaisModif" onclick="deleteItemsModif()" class="btn">Supprimer</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" style="visibility:visible" onclick="saveDelaisActionPreventive()">Sauvegarder</button>
                </div>
            </div>
        </div>
    </div>

    <div id="PopupMessageModifierDelais" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align:center;font-weight:bold;">Attention</h4>
                </div>
                <div class="modal-body">
                    <label id="lblMessageDelais"></label>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="openPopupModifierDelais()">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="PopupMessage" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="lblHeader" class="modal-title" style="text-align:center;font-weight:bold;">Attention</h4>
            </div>
            <div class="modal-body">
                <label id="lblMessageInfo"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="close()">OK</button>
            </div>
        </div>
    </div>
</div>

    </body>
</html>
<script type="text/javascript">
    //Fonction Principale
    $(document).ready(function () {
        StatutActionPreventive();

        $('#dtpHeureDebut').datetimepicker({
            format: 'LT'
        });

        $('#dtpHeureFin').datetimepicker({
            format: 'LT'
        });
    });
    // function qui sert a avoir une seule selection pour les checkboxs
    $('input[type="checkbox"]').on('change', function() {
        $('input[name="' + this.name + '"]').not(this).prop('checked', false);
    }); 
    
    // FONCTION PRINCIPALE
    $(function () {

        Chargement();

    });



    function Chargement() {

         $.ajax({
           url: '@Url.Action("ChargementDonnees", "EdsActionPreventive")',
               type: 'POST',
         async: true,
            dataType: "json",
            success: function (data) {
                AffInfoEntete(data.ActionPreventive, data.QuotaEffectifs);

            }
         });

        //1 minute
        window.setTimeout("Chargement()", 60000);

    }




    /*  fonction pour les bouton
function openPopupMessageFinActionPrev() {
    $('#PopupMessageFinActionPrev').modal('hide');
    $('#PopupFinActionPrev').modal('show');
}

function openPopupActionPreventive(){
    $('#PopupMessageActionPrev').modal('hide');
    $('#popupActionPrev').modal('show');
}

function openPopupModifierDelais(){
    $('#PopupMessageModifierDelais').modal('hide');
    $('#PopupModifierDelais').modal('show');
   }*/

    $("#btnFinaliserAction").click(function () {
        $('#PopupMessageFinActionPrev').modal('hide');
        $('#PopupFinActionPrev').modal('show');
        $('#PopupFinActionPrev').find('#lblMessageOuiNon').text('Vous voulez finaliser l\'action de protection en cours? ');
       //    LoadActionPreventive();

    });
    
    $("#btnModifierDelais").click(function () {
        ModifierActionPopup();
        $("#PopupModifierDelais").modal('show');
     //   LoadActionPreventive();


    });
    $("#btnAction").click(function () {
        $("#popupActionPrev").modal('show');

    });

    $("#btnHideModal").click(function () {
        $("#popupActionPrev").modal('hide');
    });


    

    //MODAL ACTION PRÉVENTIVE ***DÉBUT***
    function loadDates() {
        var data = @(Model == null ? null : @Html.Raw(Json.Encode(Model.ActionPreventive)));
            if (data != null && data.length > 0) {
                //Heure début
                $('#dtpHeureDebut').find("input").val(formatTime(data[0].HeureDebut));

                //Heure Fin
                if (data[0].HeureFin != null) {
                    $('#dtpHeureFin').find("input").val(formatTime(data[0].HeureFin));
                }
            }
    }
    function formatTime(date) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(date);
        //var _Fin = pattern.exec(data[0].HeureFin);

        var date = new Date(parseFloat(results[1]));
        var hour = date.getHours();
        var mins = date.getMinutes() + '';
        var time = "AM";

        // find time
        if (hour >= 12) {
            time = "PM";
        }

        // fix hours format
        if (hour > 12) {
            hour -= 12;
        }
        else if (hour == 0) {
            hour = 12;
        }
        // fix minutes format
        if (mins.length == 1) {
            mins = "0" + mins;
        }
        return hour + ":" + mins + " " + time
    }

    function formatTimeActionPreventive(date) {
        var pattern = /Date\(([^)]+)\)/;
        var results = pattern.exec(date);
        //var _Fin = pattern.exec(data[0].HeureFin);

        var date = new Date(parseFloat(results[1]));
        var hour = date.getHours();
        var mins = date.getMinutes() + '';

        // fix minutes format
        if (mins.length == 1) {
            mins = "0" + mins;
        }

        if (hour == 0) {
            return mins + ' min';
        }
        return hour + 'h ' + mins + 'min';
    }

    function ajoutItems() {

        if (document.getElementById("priorite").value == -1) {
            $('#popupActionPrev').modal('hide');
            $('#PopupMessageActionPrev').find('#lblMessage').text('Sélectionnez au moins 1 prio dans la liste.');
            $('#PopupMessageActionPrev').modal('show');
        }
        else {
            if (document.getElementById("txtHeure").value.trim() == '') {
                $('#popupActionPrev').modal('hide');
                $('#PopupMessageActionPrev').find('#lblMessage').text('Informez la duration (heure) du délai.');
                $('#PopupMessageActionPrev').modal('show');
            } else if (document.getElementById("txtHeure").value.trim() >= 24) {
                $('#popupActionPrev').modal('hide');
                $('#PopupMessageActionPrev').find('#lblMessage').text('La duration(heures) du délai ne peut pas être plus grand que 23 heures');
                $('#PopupMessageActionPrev').modal('show');
                document.getElementById("txtHeure").value = 23;
               


            }
            else {
                if (document.getElementById("txtMinute").value.trim() == '') {
                    $('#popupActionPrev').modal('hide');
                    $('#PopupMessageActionPrev').find('#lblMessage').text('Informez la duration (minute) du délai.');
                    $('#PopupMessageActionPrev').modal('show');
                } else if (document.getElementById("txtMinute").value.trim() >= 60) {
                    $('#popupActionPrev').modal('hide');
                    $('#PopupMessageActionPrev').find('#lblMessage').text('Informez la duration (minute) du délai ne peut pas être plus grand que 59.');
                    $('#PopupMessageActionPrev').modal('show');
                    document.getElementById("txtMinute").value = 59;

                }
                else {
                    if (parseInt(document.getElementById("txtHeure").value.trim()) == 0 && parseInt(document.getElementById("txtMinute").value.trim()) == 0) {
                        $('#popupActionPrev').modal('hide');
                        $('#PopupMessageActionPrev').find('#lblMessage').text('Informez la duration du délai.');
                        $('#PopupMessageActionPrev').modal('show');
                    } else {
                        var listBox1 = document.getElementById("ajoutDelais");


                        var option1 = document.createElement("OPTION");
                        option1.innerHTML = 'P-' + document.getElementById("priorite").value + ' > ' + document.getElementById("txtHeure").value.trim() + ':' + document.getElementById("txtMinute").value.trim();
                        option1.value = 'P-' + document.getElementById("priorite").value + ' > ' + document.getElementById("txtHeure").value.trim() + ':' + document.getElementById("txtMinute").value.trim();
                        listBox1.appendChild(option1);
                    }
                }
            }
        }
    }

      function ajoutItemsModif(){

        if (document.getElementById("cmbPrioriteModif").value == -1){
            $('#PopupModifierDelais').modal('hide');
            $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('Sélectionnez au moins 1 prio dans la liste.');
            $('#PopupMessageModifierDelais').modal('show');
        }
        else{
            if(document.getElementById("txtHeureModif").value.trim() == ''){
                $('#PopupModifierDelais').modal('hide');
                $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('Informez la duration (heure) du délai.');
                $('#PopupMessageModifierDelais').modal('show');
            } else if (document.getElementById("txtHeureModif").value.trim() >= 24) {
                $('#PopupModifierDelais').modal('hide');
                $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('La duration(heures) du délai ne peut pas être plus grand que 23 heures');
                $('#PopupMessageModifierDelais').modal('show');
                document.getElementById("txtHeureModif").value = 23;
            }
            else {
                if (document.getElementById("txtMinuteModif").value.trim() == ''){
                    $('#PopupModifierDelais').modal('hide');
                    $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('Informez la duration (minute) du délai.');
                    $('#PopupMessageModifierDelais').modal('show');
                } else if (document.getElementById("txtMinuteModif").value.trim() >= 60) {
                    $('#PopupModifierDelais').modal('hide');
                    $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('Informez la duration (minute) du délai ne peut pas être plus grand que 59.');
                    $('#PopupMessageModifierDelais').modal('show');
                    document.getElementById("txtMinuteModif").value = 59;
                }
                else{
                    if (parseInt(document.getElementById("txtHeureModif").value.trim()) == 0 && parseInt(document.getElementById("txtMinuteModif").value.trim()) == 0){
                        $('#PopupModifierDelais').modal('hide');
                        $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('Informez la duration du délai.');
                        $('#PopupMessageModifierDelais').modal('show');
                    }else{
                        var listBox = document.getElementById("listeAjoutDelaisModif");
                        var option = document.createElement("OPTION");
                        option.innerHTML = 'P-' + document.getElementById("cmbPrioriteModif").value + ' > ' + document.getElementById("txtHeureModif").value.trim() + ':' + document.getElementById("txtMinuteModif").value.trim();
                        option.value = 'P-' + document.getElementById("cmbPrioriteModif").value + ' > ' + document.getElementById("txtHeureModif").value.trim() + ':' + document.getElementById("txtMinuteModif").value.trim();
                        listBox.appendChild(option);
                    }
                }
            }
        }
    }
   function deleteItemsModif(){
      var listBox = document.getElementById("listeAjoutDelaisModif");
      if(listBox.selectedIndex != -1)
      {
          listBox.options.remove(listBox.selectedIndex);
      }else{
          $('#PopupModifierDelais').modal('hide');
          $('#PopupMessageModifierDelais').find('#lblMessageDelais').text('Sélectionnez l\'item à enlever de la liste.');
          $('#PopupMessageModifierDelais').modal('show');
      }
    }

    function deleteItems() {
        var listBox = document.getElementById("ajoutDelais");
        if (listBox.selectedIndex != -1) {
            listBox.options.remove(listBox.selectedIndex);
        } else {
            $('#popupActionPrev').modal('hide');
            $('#PopupMessageActionPrev').find('#lblMessage').text('Sélectionnez l\'item à enlever de la liste.');
            $('#PopupMessageActionPrev').modal('show');
        }
    }
  

    function MajActionPreventive() {
        
        $.ajax({
            url: '@Url.Action("FinaliserActionPreventive", "EdsActionPreventive")',
            type: 'POST',
            dataType: "json",
            success:  function (response) {
               $('#PopupModifierDelais').modal('hide');
               $('#PopupMessage').find('#lblHeader').text(response.responseText);
               $('#PopupMessage').find('#lblMessageInfo').text(response.responseText);
               $('#PopupMessage').modal('show');
               StatutActionPreventive();
             }
                                
        });
    }

    function saveDelaisActionPreventive() {
        if (document.getElementById("listeAjoutDelaisModif").options.length > 0) {
            var list = document.getElementById("listeAjoutDelaisModif")
            var listDelaiString = "";
            for (j = 0; j < list.options.length; j++) {
                listDelaiString += ";" + list.options[j].value;
            }
        }
        $.ajax({
            url: '@Url.Action("ModifierDelaisActionPreventive", "EdsActionPreventive")',
            data: {
                _ListDelais: listDelaiString,
                _HeureFin:$('#dtpHeureFin').find("input").val(),
            },
            type: 'POST',
            dataType: "json",
            success: function (response) {
               $('#PopupModifierDelais').modal('hide');
               $('#PopupMessage').find('#lblHeader').text(response.responseText);
               $('#PopupMessage').find('#lblMessageInfo').text(response.responseText);
               $('#PopupMessage').modal('show');
                StatutActionPreventive();
            }
            
        });
    }

    function saveActionPreventive() {

        var count = 0;
        var data = @(Model == null ? null :@Html.Raw(Json.Encode(Model.Actions)));

        if (data.length > 0) {
            //Prendre la quantité des actions activées par l'utilisateur
            for (i = 0; i < data.length; i++) {
                var chk = document.getElementById(data[i].ID)
                if (chk.checked) {
                    count += 1;
                }
            }
        }

        //Plus d'une action selectionné par l'utilisateur.
        if (count == 0) {
            $('#popupActionPrev').modal('hide');
            $('#PopupMessageActionPrev').find('#lblMessage').text('Sélectionnez l\'action de protection.');
            $('#PopupMessageActionPrev').modal('show');
        } else {
            //Nouvelle action préventive
            if ($('#dtpHeureDebut').find("input").val() != '') {
                if (document.getElementById("ajoutDelais").options.length > 0) {
                    var list = document.getElementById("ajoutDelais")
                    var listDelaiString = "";
                    for (j = 0; j < list.options.length; j++) {
                        listDelaiString +=  ";" + list.options[j].value ;
                    }

                    for (i = 0; i < data.length; i++) {
                        var chk = document.getElementById(data[i].ID)

                        if (chk.checked) {

                            $.ajax({
                                url: '@Url.Action("SaveActionPreventive","EdsActionPreventive")',
                                data: {
                                    _IDAction: data[i].ID,
                                    _DescAction: data[i].DescriptionAction,
                                    _HeureDebut: $('#dtpHeureDebut').find("input").val(),
                                    _HeureFin: $('#dtpHeureFin').find("input").val(),
                                    _ListDelais: listDelaiString,
                                    _majActionPrev: false
                                },
                                type: 'POST',
                                async: true,
                                dataType: "json",
                                success: function (response) {
                                        $('#PopupModifierDelais').modal('hide');
                                        $('#PopupMessage').find('#lblHeader').text(response.responseText);
                                        $('#PopupMessage').find('#lblMessageInfo').text(response.responseText);
                                        $('#PopupMessage').modal('show');
                                    StatutActionPreventive();
                                }
                                
                                    /*function () {
                                    var listBox = document.getElementById("ajoutDelais");
                                    var message = ' / ';
                                    for (x = 0; x < listBox.options.length; x++) {
                                        message = message + listBox.options[x].value + ' / ';
                                        saveDelais(listBox.options[x].value);
                                    }
                                    //verifier
                                    //document.getElementById("lblActionPrev").innerHTML = data[i].Description;
                                    //document.getElementById("textrandom").innerHTML = message;
                                    StatutActionPreventive();
                                }*/
                            });
                        }
                    }
                } else {
                    $('#popupActionPrev').modal('hide');
                    $('#PopupMessageActionPrev').find('#lblMessage').text('Informez au moins un délai.');
                    $('#PopupMessageActionPrev').modal('show');
                }
            } else {
                $('#popupActionPrev').modal('hide');
                $('#PopupMessageActionPrev').find('#lblMessage').text('Informez la date de début.');
                $('#PopupMessageActionPrev').modal('show');
            }
            ViderChampsPopup();

            //}
        }
    }

    function saveDelais(_Delai) {
        $.ajax({
            url: '@Url.Action("SaveDelais", "EdsActionPreventive")',
            data: { _value: _Delai },
            type: 'POST',
            async: true,
            dataType: "json",
            success: function () {
                StatutActionPreventive();
            }
        });
    }

    function ViderChampsPopup() {

        var data = @(Model == null ? null : @Html.Raw(Json.Encode(Model.Actions)));

        if (data.length > 0) {
            for (i = 0; i < data.length; i++) {
                document.getElementById(data[i].ID).checked = false;
                document.getElementById(data[i].ID).disabled = false;
            }
        }

        $('#dtpHeureDebut').find("input").val('');
        $('#dtpHeureDebut').find("input").value = '';
        $('#dtpHeureFin').find("input").val('');

        document.getElementById("txtHeure").value = '0';
        document.getElementById("txtMinute").value = '00';
        document.getElementById("ajoutDelais").options.length = 0;
    }

    function FinaliserActionPopup() {
        $('#PopupFinActionPrev').find('#lblMessageOuiNon').text('Vous voulez finaliser l\'action de protection en cours? ');
    }

    function ModifierActionPopup() {

        document.getElementById("listeAjoutDelaisModif").options.length = 0;
        document.getElementById("listeDelaisModif").options.length = 0;
        document.getElementById("cmbPrioriteModif").value = ''
        document.getElementById("txtHeureModif").value = '0';
        document.getElementById("txtMinuteModif").value = '00';

        $.ajax({
            url: '@Url.Action("ActionPreventive", "EdsActionPreventive")',
            type: 'POST',
            async: true,
            dataType: "json",
            success: function (data) {
                for (x = 0; x < data.listeDelais.length; x++) {
                    var listBox = document.getElementById("listeDelaisModif");
                    var option = document.createElement("OPTION");
                    option.innerHTML = "P-" + data.listeDelais[x].Priorite + ' > ' + formatTimeActionPreventive(data.listeDelais[x].DelaisPriorite);
                    option.value = "P-" + data.listeDelais[x].Priorite + ' > ' + formatTimeActionPreventive(data.listeDelais[x].DelaisPriorite);
                    listBox.appendChild(option);
                }
            }
        });
    }

     function StatutActionPreventive() {
        
        $.ajax({
            url: '@Url.Action("LoadActionPreventive", "EdsActionPreventive")',
            type: 'GET',
            dataType: "json",
            success: function (response) {
                if (response.responseText == "Actif") {
                   /* document.getElementById("btnAction").style.visibility = 'hidden';
                    document.getElementById("btnModifierDelais").style.visibility = 'visible';
                    document.getElementById("btnFinaliserAction").style.visibility = 'visible'; */

                    document.getElementById("btnAction").disabled = true;
                    document.getElementById("btnModifierDelais").disabled = false;
                    document.getElementById("btnFinaliserAction").disabled = false;
                } else {
                 /*   document.getElementById("btnAction").style.visibility = 'visible';
                    document.getElementById("btnModifierDelais").style.visibility = 'hidden';
                    document.getElementById("btnFinaliserAction").style.visibility = 'hidden'; */

                    document.getElementById("btnAction").disabled = false;
                    document.getElementById("btnModifierDelais").disabled = true;
                    document.getElementById("btnFinaliserAction").disabled = true;
                }
               
            

            }
        });
    }

    //MODAL ACTION PRÉVENTIVE ***FIN***
    //VALIDE S'IL Y A UNE ACTION PRÉVENTIVE ACTIVE
    function StatutActionPreventive1() {

        //Étape 0 - Valide l'action Preventive
        $.ajax({
            url: '@Url.Action("ActionPreventive", "EdsActionPreventive")',
            type: 'POST',
            async: true,
            dataType: "json",
            success: function (data) {

                var messageEffectif = data.plageHoraire;

                //SECURITE
                var validation = false;

                /* for (i = 0; i < taches.length; i++) {
                     if (taches[i] == 'Action preventive' || taches[i] == 'Administrer') {
                         validation = true;
                         break;
                     }
                 }*/

                if (validation) {

                    //Securite - accès aux boutons
                    document.getElementById("btnAction").style.visibility = 'hidden';
                    document.getElementById("ApActiver").style.display = 'none';
                    document.getElementById("ApModifierTD").style.textAlign = 'right';
                    document.getElementById("ApModifier").style.display = 'inline';
                    document.getElementById("ApFinaliserTD").style.textAlign = 'right';
                    document.getElementById("ApFinaliser").style.display = 'inline';
                    document.getElementById("btnFinaliserAction").style.visibility = 'visible';
                    document.getElementById("btnModifierDelais").style.visibility = 'visible';



                    //Information d'action préventive active
                    if (data.actionActive == true) {
                        var message = ' Délais : ';

                        for (x = 0; x < data.listeDelais.length; x++) {
                            message = message + "P-" + data.listeDelais[x].Priorite + ' > ' + formatTimeActionPreventive(data.listeDelais[x].DelaisPriorite) + ' / ';
                        }
                        if (messageEffectif.length > 0) {
                            document.getElementById("textrandom").innerHTML = message.substring(message.length - 2, 1) + ' *** Effectifs paramédics par plage horaire: ' + messageEffectif.substring(0, messageEffectif.length - 2) + ' *** ';
                        } else {
                            document.getElementById("textrandom").innerHTML = message.substring(message.length - 2, 1);
                        }

                        document.getElementById("lblActionPrev").innerHTML = data.DescriptionAction;
                        document.getElementById('divActionPrev').style.visibility = 'visible';
                        document.getElementById('divActionPrev').style.display = 'inline';

                        document.getElementById("btnAction").style.visibility = 'hidden';
                        document.getElementById("ApActiver").style.display = 'none';
                        document.getElementById("ApModifierTD").style.textAlign = 'right';
                        document.getElementById("ApModifier").style.display = 'inline';
                        document.getElementById("ApFinaliserTD").style.textAlign = 'right';
                        document.getElementById("ApFinaliser").style.display = 'inline';
                        document.getElementById("btnFinaliserAction").style.visibility = 'visible';
                        document.getElementById("btnModifierDelais").style.visibility = 'visible';

                        //document.getElementById("btnEffectif").style.visibility = 'visible';
                    }
                    else {
                        document.getElementById("btnAction").style.visibility = 'visible';
                        document.getElementById("btnFinaliserAction").style.visibility = 'hidden';
                        document.getElementById("btnModifierDelais").style.visibility = 'hidden';
                        document.getElementById("ApActiver").style.display = 'inline';
                        document.getElementById("ApFinaliser").style.display = 'none';
                        document.getElementById("ApModifier").style.display = 'none';
                        if (messageEffectif.length > 0) {
                            document.getElementById("textrandom").innerHTML = '*** Effectifs paramédics par plage horaire: ' + messageEffectif.substring(0, messageEffectif.length - 2) + ' *** ';
                        } else {
                            document.getElementById("textrandom").innerHTML = '';
                        }
                        document.getElementById('divActionPrev').style.visibility = 'collapse';
                        document.getElementById('divActionPrev').style.display = 'none';
                        //document.getElementById('btnEffectif').style.visibility = 'collapse';
                    }
                }
                else {
                    if (messageEffectif.length > 0) {
                        document.getElementById("textrandom").innerHTML = '*** Effectifs paramédics par plage horaire: ' + messageEffectif.substring(0, messageEffectif.length - 2) + ' *** ';
                    } else {
                        document.getElementById("textrandom").innerHTML = '';
                    }
                    if (data.actionActive == true) {
                        document.getElementById("lblActionPrev").innerHTML = data.DescriptionAction;
                        document.getElementById('divActionPrev').style.visibility = 'visible';
                        document.getElementById('divActionPrev').style.display = 'inline';
                    }
                    else {
                        // AJOUT DU ELSE POUR LES ECRANS ET TOUT LE MONDE EN MODE CONSULTATION
                        // /VR 2016-12-13
                        document.getElementById('divActionPrev').style.visibility = 'collapse';
                        document.getElementById('divActionPrev').style.display = 'none';
                    }
                    document.getElementById("btnAction").style.visibility = 'hidden';
                    document.getElementById("btnFinaliserAction").style.visibility = 'hidden';
                    document.getElementById("btnModifierDelais").style.visibility = 'hidden';
                    document.getElementById("ApActiver").style.display = 'none';
                    document.getElementById("ApFinaliser").style.display = 'none';
                    document.getElementById("ApModifier").style.display = 'none';
                }
            }
        });
    }


</script>