﻿@*********************************************
    *****           EDS - INTER             *****
    *********************************************@

<div>
    @{
        @model EtatSituation.Models.EnteteEDS

        Html.RenderPartial("_EnteteEDS", Model);
    }
    <div class="row">
        <div class="col-md-4" style="text-align:center">
            @{ Html.RenderPartial("~/Views/Shared/Graphiques/_GraphCarteAppel.cshtml"); }
        </div>
        <div class="col-md-4" style="text-align:center">
            @{ Html.RenderPartial("~/Views/Shared/Graphiques/_GraphVehDevoir.cshtml"); }
        </div>
        <div class="col-md-4" style="text-align:center">
            @{ Html.RenderPartial("~/Views/Shared/Graphiques/_GraphAppelsAttenteAff.cshtml"); }
        </div>
    </div>

    <div class="row">
        <div class="col-md-4" style="text-align:center">
            @{ Html.RenderPartial("~/Views/Shared/Graphiques/_GraphVolumeAppel.cshtml"); }
        </div>
        <div class="col-md-4" style="text-align:center">
            @{ Html.RenderPartial("~/Views/Shared/Graphiques/_GraphSDDF.cshtml"); }
        </div>
    </div>

</div>



@*SI PAS ACCES*@
@*<div class="col-md-12" id="divMessageAcces" style="padding:0px 0px 0px 0px;background-color:blue;height:40px;text-align:center;width:100%">
        <label id="lblActionPrevAccesTitre" style="color:azure;font-weight:bold;font-size:30px">AUCUN ACCÈS À CETTE APPLICATION - @Model.User</label><br />
    </div>
    <div class="col-md-12" id="divMessageAcces" style="padding:0px 0px 0px 0px;background-color:blue;height:40px;text-align:center;width:100%">
        <label id="lblActionPrevAccesMsg" style="color:azure;font-weight:bold;font-size:30px">Contactez votre supérieur immédiat</label>
    </div>*@


<style type="text/css">
    .textEDS {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 30px;
    }

    .TempEDS {
        font-size: 26px;
        color: white;
    }
</style>


<script src="~/GraphTheme.js"></script>
<script type="text/javascript">


    // FONCTION PRINCIPALE
    $(function () {

        Chargement();

    });

    // CHARGEMENT DES GRAPHIQUES

    function Chargement() {

         $.ajax({
            url: '@Url.Action("ChargementDonnees", "EdsInter")',
            type: 'POST',
            async: true,
            dataType: "json",
            success: function (data) {
                GraphCarteAppel(data.CarteAppel);
                GraphVehDevoir(data.VehDevoir);
                GraphAppelsAttenteAff(data.AppelsAttenteAff);
                GraphVolumeAppel(data.VolumeAppel);
                GraphSDDF(data.SDDF);
                AffInfoEntete(data.ActionPreventive, data.QuotaEffectifs);
            }
         });

        // 1 minute
        window.setTimeout("Chargement()", 60000);

    }


</script>