﻿<style type="text/css">

    .textEDS {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: white;
        font-size: 30px;
    }

    .TempEDS {
        font-size: 26px;
        color: white;
    }

   
</style>


<div class="col-md-4" id="divleft">
    <br />  <a href="~/Home/Index ">
        <p style="text-align:center"><img src="~/Images/logous1.png" /></p>
    </a>
</div>
<div class="col-md-4" id="divcenter" style="text-align:center;">
    <br /><label id="lblTitre" class="textEDS">@Model.Titre</label><br />
    <label id="lblDate" class="textEDS"></label>  -  <label id="lblHeure" class="textEDS"></label>
</div>
<div class="col-md-2" id="divtemp" style="text-align:right;">
    <table align="right" id="tabletemp" style="width:100%">
        <tr align="center">
            <td align="right"><label id="lblTemperature" class="textEDS"></label></td>
            <td align="left"><img id="imgMeteo" width="55" height="55" /></td>
        </tr>
        <tr align="center">
            <td colspan="2">
                <label id="lblTemperatureRessentie" style="color: white;font-size: 20px;"></label><br />
                <label id="lblInfo" class="TempEDS"></label>
            </td>
        </tr>
    </table>
</div>


<script type="text/javascript">

    $(document).ready(function () {
        DateTime();
        Meteo();
    })


    function DateTime() {

        var now = new Date(), // current date
            months = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']; // you get the idea

        var heure = now.getHours();
        var minute = now.getMinutes();
        var second = now.getSeconds();
        if (heure.toString().length < 2) {
            heure = '0' + heure;
        }
        if (minute.toString().length < 2) {
            minute = '0' + minute;
        }
        if (second.toString().length < 2) {
            second = '0' + second;
        }
        time = heure + ':' + minute + ':' + second,

            date = [now.getDate(),
            months[now.getMonth()],
            now.getFullYear()].join(' ');




        document.getElementById("lblDate").innerHTML = date;
        document.getElementById("lblHeure").innerHTML = time;


       window.setTimeout("DateTime()", 1000);


    }

    function AffInfoEntete(dtActPrev, dtQuotaEffectifs) {
     
        var message = "";
        var txtActPrevTitre = "";
        var txtDelai = "";

        // Action préventive
        if (dtActPrev.length > 0) {
            for (i = 0; i < dtActPrev.length; i++) {
                if (dtActPrev[i].Details == "Titre") {
                    txtActPrevTitre = dtActPrev[i].Texte1;
                }
                if (dtActPrev[i].Details == "Details") {
                    txtDelai = dtActPrev[i].Texte1;
                }
            }
        }

        // messages quota des effectifs
        if (dtQuotaEffectifs.length > 0) {
            message = dtQuotaEffectifs[0].Texte1;
        }

        // message action preventive et delai
        if (txtActPrevTitre !== "") {
            // activer l'action
            $('#divActionPrev').show();
            $('#lblActionPrev').text(txtActPrevTitre);

            // afficher le delai
            message = message + " " + txtDelai;
        }
        else {
            $('#divActionPrev').hide();
        }

        $('#txtInfo').text(message);
    }


    function Meteo() {
       
            $.ajax({
                url: '@Url.Action("ChargementMeteo", "Eds911")',
                type: 'POST',
                async: true,
                dataType: "json",
                success: function (data) {

                    $('#imgMeteo').attr("src", '/Images/meteo/' + data.icon + '.png');
                    document.getElementById("lblInfo").innerHTML = data.summary
                    document.getElementById("lblTemperature").innerHTML = Math.round(data.temperature) + '°C';
                    document.getElementById("lblTemperatureRessentie").innerHTML = 'ressentie : ' + Math.round(data.apparentTemperature) + '°C';

                }
            });

            // A chaque 30 minutes
            window.setTimeout("Meteo()", 1800000);
        }


</script>