﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Tableau - État de situation</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/highcharts")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="~/Scripts/bootstrap.js"></script>
        <link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>

    <link href="~/Content/BoutonOnOff.css" rel="stylesheet" />
  
  

    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.js"></script>
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />




</head>
<body style="background-color:#222;padding:0px 0px 0px 0px;">
   

    <div>
        @RenderBody()
    </div>


  
    @RenderSection("scripts", required: false)





</body>
</html>
